<.auth_card id="access-denied" title="Access denied">
  <p class="text-base-content/70">
    Your account is signed in but isn't authorised to use Nucleus. Ask your administrator to add you to the right group.
  </p>
  <.link id="sign-in-again" href={~p"/sign-in"} class="btn btn-ghost w-full">
    Back to sign in
  </.link>
</.auth_card>
